{% extends 'base.html' %}

{% block title %}
    Despysas
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <h2 style="text-align: center;">Cadastro do Usuário</h2>
        <hr>
        <form method="POST" class="form-register" style="color: #736222;">
            {{ form.hidden_tag() }}

            {{ form.usuario.label() }}
            {{ form.usuario(class="form-control", placeholder="Informe o Usuário")}}

            {{ form.email.label() }}
            {{ form.email(class="form-control", placeholder="Informe o E-mail")}}
            
            {{ form.senha1.label() }}
            {{ form.senha1(class="form-control", placeholder="Informe a senha")}}
            
            {{ form.senha2.label() }}
            {{ form.senha2(class="form-control", placeholder="Confirme a senha")}}
            
            <div class="d-grid" style="padding-top: 50px;">
                {{ form.submit(class="btn btn-md btn-light")}}
            </div>

            <div class="checkbox mb-3" style="padding-top: 2px;">
                <h5>Você já possui cadastro?</h5>
                <a href="{{url_for('page_login')}}" class="btn btn-sm btn-secondary">Faça Log In</a>
            </div>
        </form>
    </div>
</body>
<style>
    .btn-secondary {
        background-color: rgba(150, 0, 0, 0.55);
    }
</style>
{% endblock %}
