{% extends 'base.html' %}

{% block title %}
  Despysas
{% endblock %}

{% block content %}
  <h2 style="text-align: center;">Dashboard</h2>
  <hr>
  <div class="nav-item" style="height: max-content; gap: 2cm; display: flex; justify-content: center; align-items: center; max-width: 100%; ">
    {{ figura_gastos_categoria|safe }}
    {{ entrada_mes|safe }}
  </div>
  <div class="nav-item" style="height: max-content; gap: 2cm; display: flex; justify-content: center; align-items: center; max-width: 100%; ">
    <!-- {{ figura_gastos_lucros|safe }} -->
  </div>
  {% endblock %}

