{% extends 'base.html' %}

{% block title %}
    Despysas
{% endblock %}

{% block content %}
    <h2 style="text-align: center;">Seção de Investimentos</h2>
    <hr>
    <div class="row navbar">
        <div class="col-sm-6 nav-item" style="height: max-content; gap: 2cm; display: flex; justify-content: center; align-items: center; max-width: 100%; ">
            {{ maior_crescimento|safe }}
        </div>
        <div class="col-sm-6 nav-item" style="gap: 100px;" >
            <form method="post">
                {{ simulacao|safe }}

                {{ form.hidden_tag() }}

                {% if msg == None %}
                    <h5>Preencha as informações</h5>
                    {{ form.acoes.label() }}
                    {{ form.acoes(class="form-control", placeholder="Selecione a ação para simular")}}
                
                    {{ form.investimento.label() }}
                    {{ form.investimento(class="form-control", placeholder="Informe um valor para simulação") }}
                    <div class="d-grid">
                        {{ form.submit(class="btn btn-md btn-light")}}
                    </div>
                {% else %}
                    <h5>Em um ano, investindo R${{form.investimento.data}} ao mês, acumulará R${{msg}}</h5>    
                    <h6>Tendo investido no total R${{form.investimento.data * 12}}</h6>
                    <h6>Lucro líquido R${{msg - (form.investimento.data * 12)}}</h6>

                    {{ form.acoes.label() }}
                    {{ form.acoes(class="form-control", placeholder="Selecione a ação para simular")}}
                
                    {{ form.investimento.label() }}
                    {{ form.investimento(class="form-control", placeholder="Informe um valor para simulação") }}
                    <div class="d-grid">
                        {{ form.submit(class="btn btn-md btn-light")}}
                    </div>
                {% endif %}
            </form>
        </div>
    </div>

    <style>
        form {
            max-width: 80%;
        }
    </style>
{% endblock %}