{% extends 'base.html' %}

{% block title %}
  Despysas
{% endblock %}

{% block content %}
    <h2 style="text-align: center;">Extrato</h2>
    <hr>
    <div class="row" style="max-width: 100%;">
        <div class="col-sm-6">
            <h4 style="margin-left: 10px;">Seu Capital</h4>
            <form method="POST">
                {{ form.meses.label() }}
                {{ form.meses(class="form-control", placeholder="Selecione o mês") }}
            </form>

            <table class="table table-hover table-bordered table-light" style="max-width: 90%; text-align: center; margin-left: 60px;">
                <thead>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Data</th>
                </thead>  
                <tbody>
                    {% for item in capital %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.nome}}</td>
                        <td>{{item.valor}}</td>
                        <td>{{item.data}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <h4 style="margin-left: 10px;">Suas Despesas</h4>
            {{ form.meses.label() }}
            {{ form.meses(class="form-control", placeholder="Selecione o mês") }}
            <table class="table table-hover table-bordered table-light" style="max-width: 90%; text-align: center; margin-left: 60px;">
                <thead>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Data</th>
                </thead>  
                <tbody>
                    {% for item in despesa %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.nome}}</td>
                        <td>{{item.valor}}</td>
                        <td>{{item.descricao}}</td>
                        <td>{{item.categoria}}</td>
                        <td>{{item.data}}</td>
                    </tr>
                    {% endfor %}

                    <script>
                        let seleciona_mes = document.getElementById('mes')

                        seleciona_mes.onchange = function() {
                            mes = seleciona_mes.value;
                            alert(mes)
                        }
                    </script>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}